<h2>Public card sets</h2>

<p *ngIf="!cardSets"><em>Loading...</em></p>

<table mat-table [dataSource]="cardSets" class="mat-elevation-z8 w-100" [hidden]="!cardSets">
  <!-- Id Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let cardSet">{{cardSet.name}}</td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="like">
    <th mat-header-cell *matHeaderCellDef>Like</th>
    <td mat-cell *matCellDef="let cardSet">{{cardSet.like}}</td>
  </ng-container>
  <!-- Lat Column -->
  <ng-container matColumnDef="dislike">
    <th mat-header-cell *matHeaderCellDef>Dislike</th>
    <td mat-cell *matCellDef="let cardSet">{{cardSet.dislike}}</td>
  </ng-container>
  <ng-container matColumnDef="timesPlayed">
    <th mat-header-cell *matHeaderCellDef>Times played</th>
    <td mat-cell *matCellDef="let cardSet">{{cardSet.timesPlayed}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination directive -->
<mat-paginator [hidden]="!cardSets" (page)="pageEvent = getData($event)" [pageSize]="10"
  [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons>
</mat-paginator>