<table class="table table-striped">
    <thead>
        <tr>
            <td scope="col">#</td>
            <td scope="col">Front</td>
            <td scope="col">Back</td>
            <td scope="col"></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cards; let i = index">
            <td scope="row">{{i+1}}</td>
            <td>{{c?.front}}</td>
            <td>{{c?.back}}</td>
            <td>
                <div class="btn-group">
                    <a [routerLink]="['card/update', c.id]" class="btn btn-sm btn-light">
                        <fa name="edit"></fa>
                    </a>
                    <button (click)="delete(c.id)" class="btn btn-sm btn-light">
                        <fa name="trash"></fa>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <a class="btn btn-bg btn-dark" routerLink="game">Play</a>
</div >