<div class="row">
    <div class="col-10">
        <h3 class="text-center">{{text.name}}</h3>
        <div class="border rounded mb-4">
            <div class="p-container p-3">
                <ng-container #container></ng-container>
            </div>
        </div>
    </div>
    <div class="col-2">
        <h4>Choose language</h4>
        <div class="d-flex flex-column">
            <div class="form-group">
                <label for="langFromSelect">From:</label>
                <select [(ngModel)]="languageFrom" class="custom-select" id="langFromSelect">
                    <option value="auto" selected>Auto</option>
                    <option *ngFor="let lang of languages" value="{{lang.iso}}">{{lang.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="langToSelect">To:</label>
                <select [(ngModel)]="languageTo" class="custom-select" id="langToSelect">
                    <option *ngFor="let lang of languages" value="{{lang.iso}}">{{lang.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<ng-template #paragraphTemplate let-words="words">
    <p class="p">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <ng-template ngFor let-w [ngForOf]="words">
            <span (click)="selectWord($event)">{{w}} </span>
        </ng-template>
    </p>
    <br>
</ng-template>