<div class="row">
    <div class="border rounded" style="width: 100%;">
        <h2 class="text-center">Memorize [{{currentWord+1}}/{{currentLength}}]</h2>
        <hr>
        <div class="d-flex align-items-center justify-content-center" style="height: 400px;">
            <div>
                <h1 class="text-center mt-3">{{word?.textUntranslated}}</h1>
            </div>
        </div>
    </div>
    <p class="text-muted m-3">
        Press enter button to go to the next word if you memorize it translation.
        Else press space button to leave it in stack.
    </p>
</div>